<div class="column">
  <div class="has-text-centered mb-4">
    <button class="button is-warning is-light is-large"><%= link_to 'New Event', new_user_event_path(@user, @event) %></button>
  </div>
  <h4 class="title is-4 has-text-centered">Created Events:</h4>
  <% @user.created_events.each do |event| %>
  <div class="box">
    <div class="content">
      <h2 class="title is-2 has-text-centered"><%= event.name %></h2>
      <p class='has-text-centered'><strong>Hosted by: </strong><%= event.creator.name %></p>
      <p class='has-text-centered'><strong>Date: </strong><%= event.date %></p>
      <article class="post"><%= event.description %></article>
      <nav class="level">
        <div class="level-left">
          <%= link_to 'Event', user_event_path(@user, event), class: 'level-item' %>
          <%= link_to user_event_path(@user, event), method: :delete, class: 'level-item' do %>
          <span class="icon"><i class='fa fa-trash-o' aria-hidden='true'></i></span>
          <% end %>
        </div>
    </div>
    </nav>
  </div>
</div>
<% end %>
</div>