<div class="section">
  <div class="container">

    <% @event.each do |evnt| %>
    <div class="box mt-5">
      <div class="content">
        <h2 class="title is-2 has-text-centered"><%= evnt.name %></h2>
        <p class='has-text-centered'><strong>Hosted by: </strong><%= evnt.creator.name %></p>
        <p class='has-text-centered'><strong>Date: </strong><%= evnt.date %></p>
        <article class="post"><%= evnt.description %></article>
        <nav class="level">
          <div class="level-left"><%= link_to 'Event', user_event_path(@user, evnt) %></div>
        </nav>
      </div>
    </div>
    <% end %>

  </div>
</div>
</div>