<!DOCTYPE html>
<html class='html'>

<head>
  <title>PrivateEvents</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="navbar has-background-danger-light">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="title is-h1" id='private-events'>Private Events</h1>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <% if user_logged_in? %>
        <div class="navbar-item">
          <h4 class="title is-4"><%= current_user.name %></h4>
        </div>
        <div class="navbar-item">
          <p class='title is-4'><%= link_to 'All Events', user_events_path(@user, @events) %></p>
        </div>

        <button class="button is-primary is-light"><%= link_to 'Sign Out', logout_path %></button>
        <% else %>
        <button class="button is-primary is-light"><%= link_to 'Log In', login_path  %></button>
        <% end %>

      </div>
      <div class="navbar-item">
        <button class='button is-primary is-light' id='private-events'><%= link_to 'Home', root_path %></button>
      </div>
    </div>
  </header>

  <% if flash[:notice] %>
  <div class="notification is-primary">
    <p class="notice"><%= notice %></p>
  </div>
  <% end %>
  <% if flash[:alert] %>
  <div class="notification is-danger">
    <p class="notice"><%= alert %></p>
  </div>
  <% end %>

  <%= yield %>
</body>

</html>